div h2{
    font-size: 24px;
    font-weight: 700;
    }
    
    div h4{
        font-size: 22px;
        }

table{
    width:100%
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }