div h2{
font-size: 24px;
font-weight: 700;
}

div h4{
    font-size: 22px;
    }

div label{
        font-size: 18px;
        font-weight: 400;
        }

.tab-nav{
    font-size: large;
    font-weight: 900;
    border-bottom: white 3px solid;
    background-color: crimson;
    margin: 0px;
    padding: 30px 0px;

}