img {
    width: 200px;
    height: 200px;
    align-self: center;
   

}


.mycontainer{
    display:inline-block;
    flex-direction: row;
    width: 300px;
    height: auto;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.line{   text-decoration: line-through;
}
/* .card{
    flex-direction:row-reverse;
} */



