.container img {
    width: 200px;
    height: 200px;
    align-self: center;

}


.container{
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: 300px;
    direction:rtl;
}
.line{
    text-decoration: line-through;
}

